body{
    background-color: #99152B;
}

h1{
    font-size: 48px;
    padding-left: 10px ;
    color: pink;
    background-color: #E63754;
    border-radius: 5px;
}

h2{
    color: pink;
    border: 1px bisque solid;
    border-radius: 10px;
    padding: 5px;
    text-align: left;
    padding-left: 50px;
}

ul{
    list-style-type: none;

}

nav li{
    display: inline;
    text-align: left;
    padding-right: 10px;
}

#home{
    text-align: center;
}

nav{
    width: 100%;
    margin: 0 auto;
}

nav a{
    text-decoration: none;
    color: pink;
    padding: 8px 0px;
}
nav a:hover{
    color: #99152B;
    background-color: bisque;
    border-radius: 8px;
}

section a{
    text-decoration: none;
    color: pink;
    display: block;
    padding: 10px;
    text-align: lefttt;
}

section a:hover{
    color: #99152B;
    background-color: bisque;
    border-radius: 8px;
}

div{
    text-align: center;
}


#gamesLinks{
    text-align: left;
}
#gamesLinks a{
    text-decoration: none;
    color: white;
    background-color:#E63754;
    padding: 5px;
    border-radius: 15px;
}
#gamesLinks a:hover{
    background-color: bisque;
    color: #99152B;
}
#gamesLinks li{
    padding: 10px;
}
#links{
    text-align: left;
}